@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Election Admin</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnav"
                aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topnav">
            <div class="navbar-nav ms-auto">
                <AuthorizeView>
                <Authorized>
                <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">Home</NavLink>
                <NavLink class="nav-link" href="elections" Match="NavLinkMatch.Prefix">Elections</NavLink>
                <NavLink class="nav-link" href="presidentcounty" Match="NavLinkMatch.Prefix">President County</NavLink>
                <NavLink class="nav-link" href="counter" Match="NavLinkMatch.Prefix">Counter</NavLink>
                <NavLink class="nav-link" href="weather" Match="NavLinkMatch.Prefix">Weather</NavLink>
                </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</nav>
