@page "/"
@using Electionapp.UI.Models
@using Electionapp.UI.Services
@inject LoginAPI LoginAPI
@inject NavigationManager Nav
@rendermode InteractiveServer

<div class="login-container">
    <div class="login-card">
        <h2>Login</h2>

        <EditForm Model="@loginModel">
            <div class="form-group">
                <label>Username or Email</label>
                <InputText @bind-Value="loginModel.UsernameOrEmail" class="form-control" />
                
            </div>

            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="loginModel.Password" type="password" class="form-control" />
            </div>

            <button type="button" class="btn-submit" @onclick="HandleLogin">Login</button>


            <div class="divider">
            @if (apiErrors.ContainsKey("General"))
            {
                foreach (var err in apiErrors["General"])
                {
                    <span class="error-text">@err</span>
                }
            }</div>

            <div class="divider">or</div>

            <button type="button" class="btn-google"
                    @onclick="LoginWithGoogle">
                Login with Google
            </button>

            <div class="signup-link">
                Don’t have an account? <a href="/signup">Signup here</a>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private LoginDto loginModel = new();
    private Dictionary<string, string[]> apiErrors = new();
	private string? successMessage;

    private async Task HandleLogin()
    {
        var (success, errors) = await LoginAPI.LoginAsync(loginModel);

        if (success)
        {
			apiErrors.Clear();
            Nav.NavigateTo("/home?msg=LoginSuccess");
        }
        else
        {
            apiErrors = errors;
            StateHasChanged();
        }
    }
    private void LoginWithGoogle()
    {
        var googleUrl = "https://signup-api-814747071660.us-central1.run.app/api/auth/google-login";
        Nav.NavigateTo(googleUrl, forceLoad: true);
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var uri = new Uri(Nav.Uri);
            var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

            if (query.TryGetValue("login", out var loginFlag) && loginFlag == "success")
            {
                var email = query.TryGetValue("email", out var mail) ? mail.ToString() : "User";
                successMessage = $"Welcome {email}, login successful ✅";
                StateHasChanged();
            }
        }
    }
}
